{{define "views/backstage/updatearticle.html"}}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    {{ template "views/blayouts/_bhead.html" . }}
</head>

<body>
    <!-- Left Panel -->
    {{ template "views/blayouts/_bleft.html" . }}

    <!-- /#left-panel -->
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        {{ template "views/blayouts/_bheader.html" . }}
        <!-- /#header -->
        <!-- Content -->
        <div class="content">
            <!-- Animated -->
            <div class="animated fadeIn">
                    <div class="col-lg-12">
                            <div class="card">
                                <form action="/backstage/article/post?article_id={{.detail.ID}}" method="POST">
                                <div class="card-header">
                                    <strong>新建文章</strong> 
                                </div>
                                <div class="card-body card-block">
                                    <form action="#" method="post" enctype="multipart/form-data" class="form-horizontal">
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="text-input" class=" form-control-label">文章标题</label></div>
                                            <div class="col-12 col-md-9"><input type="text" id="text-input" name="title" value="{{.detail.Title}}" class="form-control"></div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="email-input" class=" form-control-label">作者</label></div>
                                            <div class="col-12 col-md-9"><input type="text" id="text-input" name="author" value="{{.detail.Username}}" class="form-control"></div>
                                        </div>
                                        <div class="row form-group">
                                                <div class="col col-md-3"><label for="select" class=" form-control-label">分类</label></div>
                                                <div class="col-12 col-md-9">
                                                    <select name="category_id" id="select" class="form-control" value="{{.detail.Category.CategoryID}}">
                                                        <option value="1">Please select</option>
                                                        {{range .category_list}}
                                                        <option value="{{.CategoryID}}">{{.CategoryName}}</option>
                                                        {{end}}
                                                    </select>
                                                </div>
                                            </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="password-input" class=" form-control-label">简介</label></div>
                                            <div class="col-12 col-md-9"><input type="text" id="text-input" name="summary" value="{{.detail.Summary}}" class="form-control"></div>
                                        </div>
                                        
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="textarea-input" class=" form-control-label">文章内容</label></div>
                                            <div class="col-12 col-md-9"><textarea name="content" id="textarea-input" rows="9"  class="form-control">{{.detail.Content}}</textarea><small class="help-block form-text">支持markdown语法</small></div>
                                        </div>
                                    
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary btn-sm">
                                        <i class="fa fa-rss"></i> Submit
                                    </button>
                                    <button type="reset" class="btn btn-danger btn-sm">
                                        <i class="fa fa-magic"></i> Reset
                                    </button>
                                </div>
                            </form>
                            </div>
                        </div>
    
            </div>
            <!-- .animated -->
        </div>
        <!-- /.content -->
        <div class="clearfix"></div>

        <!-- Footer -->
        {{ template "views/blayouts/_bfooter.html" . }}
        <!-- /.site-footer -->
    </div>
    <!-- /#right-panel -->

    <!-- Scripts -->
    {{ template "views/blayouts/_bjs.html" . }}
</body>
</html>
{{end}}